@charset "UTF-8";

* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* ヘッダー領域 */
.hero {
    min-width: 375px;
    height: 667px;
    background: url(../image/top_bg_sp.jpg) top center/cover;
    padding-top: 160px;
    display: flex;
    justify-content: center;
}

#icon_drawer {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 8px;
    right: 8px;
}

h1 {
    text-align: center;
    /* background-color: blue; */
}

h1 img {
    height: 135px;
    width: 335px;
}

/* 紹介 */
.intro {
    max-width: 1366px;
    margin: 0 auto;
}

#cont1 {
    background: url(../image/top_formosa01.jpg) top left/cover;
}

#cont2 {
    background: url(../image/top_formosa02.jpg) top left/cover;
}

#cont1,
#cont2 {
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    padding-top: 60px;
    text-align: center;
}

.cont_inner img.flag {
    width: 35px;
    height: 24px;
    margin: 0 auto 40px;
    padding: 0;
}

.intro_cont {
    text-align: center;
    padding-bottom: 60px;
}

.intro_title {
    font-size: 20px;
    margin: 0 auto 20px;
}

.intro_subtitle {
    font-size: 12px;
    display: inline-block;
    padding-bottom: 12px;
    border-bottom: 1px solid #000;
}

.formosa_img {
    display: block;
    width: 335px;
    height: 180px;
    margin: 20px auto 0;
}

/* 共通 p*/
p.lead {
    width: 225px;
    margin: 0 auto;
    padding: 12px 0;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    font-size: 12px;
    line-height: 19.2px;
    text-align: left;
}

/* .intro_cont p.lead {
    margin: 0 auto;
} */

/* Gallery */
/* sliderの外枠 */
.slide_wrapper {
    width: 300px;
    height: 400px;
    margin: 48px auto 20px;
    overflow: hidden;
}

/* slideが入ってるとこ　5枚分 */
.slider_item {
    width: 500%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
}

.slider_item div {
    width: 20%;
    height: 100%;
}

.slider_item img {
    width: 100%;
    height: 100%;
}

/* slide動かすためのクラス クリックでクラス付け替え*/
.slide1 {
    transform: translateX(0);
}

.slide2 {
    transform: translateX(-20%);
}

.slide3 {
    transform: translateX(-40%);
}

.slide4 {
    transform: translateX(-60%);
}

.slide5 {
    transform: translateX(-80%);
}

/* indicatorのスタイル */
.slider_indicator {
    height: 50px;
    display: block;
    z-index: 10;
    align-items: center;
}



.indicator {
    width: 250px;
    margin: 20px auto 60px;
    display: flex;
    z-index: 20;
    justify-content: space-between;

}

.indicator_list {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #7a7a7a;
    cursor: pointer;
    z-index: 20;
}

.indicator_list.active {
    background-color: #000;
}

#indicator_prev,
#indicator_next {
    display: none;
}

/* Travel */


.travel .lead {
    margin-top: 40px;
}

.map {
    width: 240px;
    height: 392.57px;
    margin: 20px auto 60px;
    position: relative;
}

.map a {
    display: block;
}

.map img {
    width: 194.29px;
    margin: 0 auto;
}

.map p img {
    width: 57px;
}

#taipei,
#taichung,
#tainan {
    display: block;
    position: absolute;
}

#taipei {
    top: 22.86px;
    right: 0;
}


#taichung {
    top: 91.43px;
    left: 0;
}

#tainan {
    right: 102px;
    bottom: 0;
}

/* Event */
h3 {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 40px;
}

.event_img {
    display: block;
    width: 335px;
    height: 194px;
    margin: 20px auto;
}

.date {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.bold {
    font-weight: 700;
}

.event_detail .lead {
    margin-top: 20px;
}

/* 台湾基本情報 */
.basic_info,
.holiday,
dt {
    font-size: 12px;
    line-height: 160%;
    font-weight: 400;
}

.info_wrapper {
    width: 295px;
    margin: 40px auto;
}

.info_list::before {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: #000;
    position: relative;
    top: 1px;
    right: 1px;
}

.list_text {
    padding-left: 1em;
}

dl.holiday {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

dt,
dd {
    padding-left: 1em;
}

dt {
    width: 25%;
}

dd {
    width: 75%;
}

.info {
    margin-bottom: 100px;
}

/* PC版 ここから*/
@media screen and (min-width:600px) {

    /* Header PC*/
    .hero {
        max-width: 1366px;
        height: 768px;
        background: url(../image/top_bg_sp.jpg) top center/cover;
        padding: 0;
        align-items: center;
        margin: 0 auto;
    }

    h1 img {
        max-width: 780px;
        width: 57vw;
        height: 100%;
    }

    /* Formosa PC*/
    .intro_cont {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 80px 20px;
        height: 458px;
    }

    #cont1,
    #cont2 {
        padding: 0;
    }

    .cont_inner {
        max-width: 517px;
        width: 100%;
        max-height: 298px;
        height: auto;
        /* padding-top: 30px; */
        padding-left: 20px;
    }

    .cont_inner img.flag {
        display: inline-block;
        width: 28%;
        max-width: 117px;
        height: auto;
        margin: 30px auto 14%;
        /* width: 8.565vw;
        height: 5.71vw; */
    }

    .intro_title {
        font-size: clamp(1.25rem, calc(0.53rem + 2.89vw), 3rem);
        text-align: left;
    }

    .intro_subtitle {
        font-size: clamp(0.75rem, calc(0.23rem + 2.07vw), 2rem);
        border: none;
        display: block;
        text-align: left;
        margin: 0;
    }

    .formosa_img {
        width: 47vw;
        max-width: 636px;
        height: auto;
        margin: 0;
    }

    /* 共通 p PC*/
    p.lead {
        max-width: 420px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 0;
        border-top: #000 solid 1px;
        border-bottom: #000 solid 1px;
        font-size: 20px;
        line-height: 32px;
        text-align: left;
    }

    /* コンテンツ最大幅1200px */
    .innerwrap_top {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        padding: 0 20px;
    }

    /* GalleryPC */
    .gallery h2.common {
        margin-left: 0;
    }

    .indicator {
        max-width: 628px;
        width: 100%;
        margin: 20px auto 60px;
        display: flex;
        justify-content: space-between;
    }

    .indicator li {
        position: relative;
        width: 28px;
        height: 28px;
    }

    #indicator_prev {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        top: 10px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7a7a7a;
    }

    #indicator_prev::after {
        content: "";
        width: 24px;
        height: 24px;
        border: 0;
        border-top: 6px solid #fff;
        border-right: 6px solid #fff;
        border-radius: 3px;
        transform: rotate(-135deg);
        position: absolute;
        left: 25px;
    }

    #indicator_next {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        top: 10px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7a7a7a;
    }

    #indicator_next::after {
        content: "";
        width: 24px;
        height: 24px;
        border: 0;
        border-top: 6px solid #fff;
        border-left: 6px solid #fff;
        border-radius: 3px;
        transform: rotate(135deg);
        position: absolute;
        right: 25px;
    }

    /* Travel PC */
    .travel h2.common {
        margin-right: 0;
    }

    .travel_cont {
        display: flex;
        box-sizing: border-box;
        max-width: 1200px;
        width: 100%;
        margin: 80px auto 180px;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .travel .lead {
        margin-top: 0;
        width: 30vw;
    }

    .map {
        width: 30vw;
        height: auto;
        position: relative;
        max-width: 340px;
    }

    #taiwan_map {
        width: 100%;
        height: auto;
    }

    .map p {
        position: absolute;
        width: 10vw;
        height: auto;
        max-width: 100px;
    }

    .map p img {
        width: 100%;

    }

    /* iconの位置を調整↓ */
    #taipei {
        right: -15%;
        top: 5%;
    }

    #taichung {
        left: -10%;
        top: 25%;
    }

    #tainan {
        right: 43%;
        bottom: -3%;
    }

    /* Event PC */
    .event h2.common {
        margin-left: 0;
        margin-bottom: 80px;
    }

    .event_detail1,
    .event_detail2 {
        max-width: 1200px;
        width: 90%;
        margin: 80px auto 80px;

    }

    .item00 {
        max-width: 1060px;
        display: flex;
        width: 100%;
        margin: 0 auto;
        /*=80px*/
    }

    .item03 {
        /* display: flex;
        flex-direction: column;
        align-items: flex-end; */
        max-width: 420px;
        width: 100%;
        height: auto;
        margin-left: 6.67%;
    }

    .event_img {
        max-width: 580px;
        width: 53%;
        height: auto;
        object-fit: cover;
    }

    .item03 p.date,
    .item03 p.lead {
        font-size: clamp(0.75rem, 0.25rem + 1.33vw, 1.25rem);
    }

    .item03 p.date {
        font-size: clamp(0.75rem, 0.25rem + 1.33vw, 1.25rem);
        line-height: 2em;
        margin: 0 auto 2em;
    }

    .item03 p.lead {
        width: 100%;
        padding: 2em 0;
        line-height: 1.6em;
    }

    h3 {
        font-size: clamp(1.25rem, 0.25rem + 2.67vw, 2.25rem);
        text-align: left;
        line-height: 1.6em;
        margin-top: 0;
    }

    /* 台湾基本情報 PC */
    .info h2.common {
        margin: 60px auto 80px;
    }

    .basic_info,
    .holiday,
    dt {
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
    }

    .info_wrapper {
        width: 90%;
        max-width: 1080px;
        padding: 40px;
        margin: 80px auto;
        border: 1px solid #000;
    }

}