@charset "UTF-8";

* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* ヘッダー領域 */
.hero {
    min-width: 375px;
    height: 667px;
    background: url(../image/top_bg_sp.jpg) top center/cover;
    padding-top: 160px;
}

#icon_drawer {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 8px;
    right: 8px;
}

h1 {
    margin: 0 auto;
    width: 335px;
}

h1 img {
    height: 135px;
    width: 335px;
    text-align: center;
}

/* 紹介 */
#cont1 {

    background: url(../image/top_formosa01.jpg) top left/cover;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    padding-top: 60px;
    text-align: center;
}

#cont2 {
    background: url(../image/top_formosa02.jpg) top left/cover;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    padding-top: 60px;
    text-align: center;

}

.flag {
    margin-bottom: 40px;
}

p.flag img {
    width: 35px;
    height: 24px;
    margin: 0 auto;
}

.intro_title {
    font-size: 20px;
    margin: 0 auto 20px;

}

.intro_subtitle {
    font-size: 12px;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 12px;
    border-bottom: 1px solid #000;
}

.formosa_img {
    width: 335px;
    height: 180px;
    margin: 20px auto 60px;
    object-fit: cover;
}

/* 共通 p*/
p.lead {
    width: 225px;
    margin: 0 auto;
    padding: 12px 0;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    font-size: 12px;
    line-height: 19.2px;
    text-align: left;
}

/* Gallery */
.slider_image {
    width: 300px;
    height: 400px;
    margin: 48px auto 20px;
}

.slider_image img {
    width: 100%;
    height: 100%;
}

.indicator {
    width: 250px;
    margin: 20px auto 60px;
    display: flex;
    justify-content: space-between;
}

.indicator li {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #7a7a7a;
}

/* Travel */

.travel .lead {
    margin-top: 40px;
}

.map {
    width: 240px;
    height: 392.57px;
    margin: 20px auto 60px;
    position: relative;
}

.map img {
    width: 194.29px;
    display: block;
    margin: 0 auto;
}

.map a img {
    width: 57px;
}

#taipei {
    position: absolute;
    top: 22.86px;
    right: 0;
}

#taichung {
    position: absolute;
    top: 91.43px;
    left: 0;
}

#tainan {
    position: absolute;
    right: 102px;
    bottom: 0;
}

/* Event */
h3 {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-top: 40px;
}

.event_img {
    width: 335px;
    height: 194px;
    margin: 20px auto;
}

.event_img img {
    width: 100%;
    object-fit: contain;
}

.date {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.bold {
    font-weight: 700;
}

.event_detail .lead {
    margin-top: 20px;
}

/* 台湾基本情報 */
.basic_info,
.holiday,
dt {
    font-size: 12px;
    line-height: 160%;
    font-weight: 400;
}

.info_wrapper {
    width: 295px;
    margin: 40px auto;
}

.info_list::before {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: #000;
    position: relative;
    top: 1px;
    right: 1px;
}

.list_text {
    padding-left: 1em;
}

dl.holiday {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

dt,
dd {
    padding-left: 1em;

}

dt {
    width: 25%;
}

dd {
    width: 75%;
}


/* PC版 */
@media screen and (min-width:600px) {}