@charset "utf-8";

* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* .zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.zen-kaku-gothic-new-bold {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.zen-kaku-gothic-new-black {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 900;
    font-style: normal;
}
 */

body {
    height: 100%;
}

/*共通　見出し*/
h2.common {
    font-size: 24px;
    width: 220px;
    height: 40px;
    text-align: center;
    background-image: url(../../common/image/flame_h2.png);
    background-size: cover;
}

.common span.subtitle {
    font-size: 12px;
    padding-left: 0.5em;
}

/* 共通　パンくずリスト */
.breadcrumb {
    display: flex;
    list-style: none;
    font-size: 16px;
}

.breadcrumb li {
    padding-right: 0.5em;
}


/* モーダル共通 */

#modal_market,
#mordal_cultural {
    width: 375px;
    height: 667px;
    background-color: #0180BE;
    position: relative;
    /* display: none; */
}

.close_btn {
    position: absolute;
    top: 8px;
    right: 8px;
}

h3.modal_name {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.mordal_text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    width: 303px;
    margin: 0 auto;
}

/* モーダルボタン */
#market_btn {
    background-image: url(../image/btn_flame.png);
    background-size: cover;
    width: 134px;
    height: 58px;
    background-color: #fff;
    font-weight: 700;
    border: none;
}

/* モーダルウィンドウ　夜市 */

.modal_market {
    width: 335px;
    height: 223px;
    margin: 32px auto 20px;
}

.modal_market img {
    width: 100%;
}

.market_time {
    text-align: center;
}

/* モーダルウィンドウ　文化施設 */
#cultural_btn {
    width: 120px;
    height: 36px;
    font-size: 12px;
    border: 2px solid #0180BE;
    padding: 0;
    background-color: transparent;
}

#cultural_btn img {
    width: 7px;
}

.modal_image {
    width: 295px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.modal_image img {
    width: 140px;
    height: 140px;
}