@charset "UTF-8";

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  /* 背景色の設定 */
  background-color: #0180BE;
  z-index: 99;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 287px;
  opacity: 0;
}

/* ★★★PC版表示★★★ */

@media screen and (min-width:1366px) {
  #logo {
    width: 318px;
  }
}