@charset "UTF-8";

/* 共通 */
* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
  background-color: #f4f4f4;
  height: 100vh;
}

section {
  margin: 0 auto;
  width: 79%;
}

img {
  width: 100%;
}

p {
  font-size: 12px;
  line-height: 1.6;
}

/* 共通部分リセット */
/* 後で消すかも */
.box {
  border: none;
  margin: 0;
  padding: 0;
}

/* hero */
.hero {
  min-width: 375px;
  background: url(../image/header_sp.jpg) no-repeat center top/cover;
}

.hero .title {
  width: 199px;
  margin: auto;
}

.hero img {
  height: 372px;
  margin: 120px 0 175px;
}

.description {
  display: flex;
  justify-content: right;
}

.hero p {
  width: 247px;
  color: #fff;
  padding-bottom: 8px;
}

/* パンくずリスト */
nav {
  margin: 8px 0px 4px 8px
}

/* 見出し */
h2 {
  margin: 60px auto 40px;
}

/* attraction（観光名所） */
.term {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.attraction p {
  margin: 20px 0;
  padding: 20px 16px;
  background-color: rgba(108, 186, 219, 0.2);
}

.imageLine {
  display: flex;
  justify-content: space-between;
}

.imageLine img {
  width: 47%;
}

.point {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}