@charset "UTF-8";

/* 共通 */
* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
  background-color: #f4f4f4;
  height: 100vh;
}

section {
  max-width: 600px;
  margin: 0 auto;
  width: 79%;
}

img {
  width: 100%;
}

p {
  font-size: 12px;
  line-height: 1.6;
}

/* 共通部分リセット */
/* 後で消すかも */
.box {
  border: none;
  margin: 0;
  padding: 0;
}

/* hero */

.miniLogo {
  width: 111px;
  margin: 4px 0px 0px 4px;
}

.hero {
  min-width: 375px;
  background: url(../image/header_sp.jpg) no-repeat center top/cover;
}


.hero .title {
  width: 199px;
  margin: auto;
}

.hero .title img {
  height: 372px;
  margin: 120px 0 175px;
}

.description {
  display: flex;
  justify-content: right;
}

.hero p {
  width: 247px;
  color: #fff;
  padding-bottom: 8px;
}

/* パンくずリスト */
nav .breadcrumb {
  margin: 8px 0px 4px 8px
}

/* 見出し */
section .common {
  margin-bottom: 40px;
}

/* attraction（観光名所） */
.term {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.attraction p {
  margin: 20px 0;
  padding: 20px 16px;
  background-color: rgba(108, 186, 219, 0.2);
}

.imageLine {
  display: flex;
  justify-content: space-between;
}

.imageLine img {
  width: 47%;
}

.attraction .point {
  width: 295px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  padding: 8px 0;
}


.attraction .point span {
  display: block;
  padding-top: 8px;
}

time {
  font-size: 16px;
  font-weight: bold;
}

.line {
  width: 60%;
  border-bottom: 2px solid #000;
  margin: 40px auto;
}

/* nightMarket */
.nightMarket .text {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 16px 0;
  margin-bottom: 20px;
}

/* モーダルボタン装飾 */
.nightMarket .modalButton {
  width: 280px;
  height: 128px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.nightMarket button {
  background-image: url(../../taipei/image/nightmarket03_button.png);
  background-size: cover;
  width: 134px;
  height: 58px;
  background-color: transparent;
  font-weight: 700;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}

/* 後で消すかもhover */
.nightMarket button:hover,
#market_btn:hover {
  background-color: #ecebeb;
}

#market_btn {
  background-image: url(../../taipei/image/nightmarket03_button.png);
}

/* モーダルウィンドウ装飾 */
.modal_container {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.market_time {
  margin-top: 20px;
}

.modal_container {
  display: none;
}

/* accsess */
.access {
  margin-bottom: 128px;
}

.access h2 {
  margin-bottom: 48px;
}

.access p {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border-bottom: 1px solid #000;
  padding: 0 10.5px 8px;
  margin-bottom: 20px;
}

.access dl dt {
  margin: 20px 0 12px;
}

.access dl dt span {
  font-weight: normal;
}

.access dl dt figure {
  margin-top: 12px;
  width: 26%;
}

@media screen and (min-width:600px) {

  /* 共通PC */
  section,
  .breadcrumb {
    max-width: 1200px;
    /* 簡易 */
    background: red;
  }

  /* hero */
  .hero {
    border: 3px solid red;
    background: url(../image/header_pc.jpg) no-repeat center top/cover;
  }

  .herostylepc {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* .hero .title {
    max-width: 1200px;
    margin: 0px;
  } */

  /* 
.hero .title img {
  height: 372px;
  margin: 120px 0 175px;
}

.description {
  display: flex;
  justify-content: right;
}

.hero p {
  width: 247px;
  color: #fff;
  padding-bottom: 8px;
} */

  /* パンくずリスト */
  /* nav .breadcrumb {
  margin: 8px 0px 4px 8px
}

/* 見出し */
  /*section .common {
  margin-bottom: 40px;
} */
}