@charset "UTF-8";

/* header */
header {
    height: 667px;
    width: 100%;
    max-width: 1200px;
}

.button {
    width: 48px;
    margin-top: 4px;
    margin-right: 4px;
    height: 48px;

}

.button img {
    height: 48px;
    width: 48px;
}

.nav {
    height: 667px;
    max-width: 1200px;
    width: 100%;
    background-color: black;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    /* display: none; */
}

.lin {
    margin-bottom: 369px;
}

.lin li {
    padding-bottom: 30px;
}

.hear {
    display: flex;
    justify-content: space-between;
}

.log img {
    width: 100px;
    height: 40px;
    margin: 8px 8px 107px auto;
}

/* footer */
footer {
    height: 420px;
}

.foot {
    background-color: #007ab7;

    height: 420px;
}

.flag {
    margin: 20px 171.5px;
    padding-top: 20px;
}

.flag img {
    width: 32px;
    height: 24px;
}

.menu {
    width: 200.5px;
    margin: 20px auto;
}

.menu li {
    border-bottom: 1px solid #fff;
    font-size: 12px;
    font: #fff;
    padding: 12px 0 8px 7.5px;
    color: #fff;
}

.sns {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.sns img {
    width: 32px;
    height: 32px;
}

.com {
    color: #fff;
    text-align: center;
    font-size: 10px;
}

#logo img {
    display: none;
}

/* pc版 */
@media screen and (min-width:) {
    /* header */


    /* footer */
    footer {
        background-color: #007ab7;
        height: 473px;
        width: 100%;
        max-width: 1200px;
    }

    .foot {
        height: 473px;
        display: grid;
        justify-content: center;
        grid-template-rows: 50% 35% 15%;
        grid-template-columns: 33% 33% 33%;
    }

    .a {
        grid-column: 2/3;
        grid-row: 1/2;

    }

    .b {
        grid-column: 1/2;
        grid-row: 1/4;

    }

    .c {
        grid-column: 3/4;
        grid-row: 1/4;

    }

    .d {
        grid-column: 2/3;
        grid-row: 2/3;

    }

    .e {
        grid-column: 2/3;
        grid-row: 3/4;

    }


    /* class=a */
    .flag {
        margin-left: 248px;
        padding-top: 20px;
    }

    .flag img {
        width: 64px;
        height: 48px;
    }

    /* class=d */
    #logo {
        margin-left: 160px;
        margin-top: 50px;
    }

    #logo img {
        display: block;
        height: 96px;
        width: 240px;
    }

    /* class=e */
    .e {
        margin-left: 150px;
    }

    .com {
        font-size: 12px;
    }

    /* class=b */
    .menu {
        margin: 0;
        margin-left: 103px;
        margin-top: 89px;
    }

    .menu li {
        font-size: 20px;
        padding: 20px 7.5px 12px 0;
    }

    /* class=e */
    .sns {
        width: 203px;
        height: 55px;
        margin-top: 346px;
        margin-right: 100px;
    }

    .sns li {
        width: 55px;
        height: 55px;
    }
}