@charset "UTF-8";

/* header */
.head_taichung {
    width: 100%;
    min-width: 375px;
    max-width: 599px;
    height: 667px;
    background: url(../image_taichung/背景画像.jpg) no-repeat center top/cover;
    margin-bottom: 100px;
}

#logo_taichung img {
    width: 30%;
    min-width: 111px;
    height: 45px;
}

#open {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 0px;
    right: 8px;
}

.taichung_logo {
    display: flex;
}

.title_img {
    margin: auto;
    width: 199px;
    height: 372px;
}

.title_img img {
    height: 372px;
    margin: 120px 0 175px;
}

.titlesub {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.titlesub p {
    width: 247px;
    color: #fff;
    padding-bottom: 8px;
}

.heading {
    font-size: 24px;
    text-align: center;
}

.headsub {
    font-size: 16px;
}

/* main */
h3 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.att img {
    height: 221px;
    width: 100%;
    min-width: 295px;
}

.attsub img {
    height: 150px;
    width: 100%;
    min-width: 295px;

}

.ex {
    height: 231px;
    min-width: 295px;
    width: 100%;
}